
#The_Good_Grass {
    background-image: url(/Users/jeffjamestrella/Desktop/jeffTryingToPractice/images/bradley-brister-WdsLOJ5BViU-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}

h1 {
    text-align: center;
    margin: auto;
    width: 50%; 
    border: 5px solid yellow;
    padding: 15px;  
    background-color: lightblue; 
}

h2 {
    color: yellow;
}

#theNickestNames { 
    text-align: left;
    margin-left: 15%; 
    padding: 10px; 
    color: white; 
}

#OrgansTori {
    text-align: right;
    margin-right: 15%;
    padding : 10px;
    color: white;
}

#AwwCmonAsians {
    text-align: left;
    margin-left: 15%;
    padding : 10px;
    color: white;
}

#Feerends {
    text-align: center;
    margin-right: 15%;
    padding : 10px;
    color: white;
}